# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.so

# ==========================
# Ambienti virtuali
# ==========================

venv/
.env/
.venv/

# ==========================
# Jupyter Notebook
# ==========================

.ipynb_checkpoints/


# ==========================
# Dati astronomici
# ==========================

data/*

!data/
!data/.gitkeep

*.fits
*.fit
*.csv
*.parquet
*.hdf5


# ==========================
# Output analisi
# ==========================


# ==========================
# File sistema Mac
# ==========================

.DS_Store


# ==========================
# Editor
# ==========================

.vscode/
.idea/